{
 "active": "{{ nodetype }}",
 "{{ nodetype }}": {
  "nodetype": "{{ nodetype }}",
  "nodeid": null,
  "servers": [
   "{{ servers }}2.eu",
   "{{ servers }}1.eu",
   "{{ servers }}3.eu",
   "{{ servers }}4.eu",
   "{{ servers }}4.na",
   "{{ servers }}3.na",
   "{{ servers }}2.na",
   "{{ servers }}1.na"
  ],
  "stakeaddr": "{{ stakeaddr }}",
  "email": "{{ email }}",
  "fqdn": "{{ fqdn }}",
  "ipv": "4",
  "region": "{{ region }}",
  "home": "ts1.{{ region }}",
  "category": "none"
 }
}
