{
 "active": "{{ nodetype }}",
 "{{ nodetype }}": {
  "nodetype": "{{ nodetype }}",
  "nodeid": null,
  "servers": [
   "ts2.eu",
   "ts1.eu",
   "ts3.eu",
   "ts4.eu",
   "ts4.na",
   "ts3.na",
   "ts2.na",
   "ts1.na"
  ],
  "stakeaddr": "{{ stakeaddr }}",
  "email": "{{ email }}",
  "fqdn": "{{ fqdn }}",
  "ipv": "4",
  "region": "{{ region }}",
  "home": "ts1.{{ region }}",
  "category": "none"
 }
}
