rpcport=18231
rpcallowip=127.0.0.1
rpcworkqueue=512
server=1
# Docker doesn't run as daemon
daemon=0
listen=1
txindex=1
logtimestamps=1
testnet=0
rpcuser=user
rpcpassword={{ rpcpassword.stdout }}
tlscertpath=/etc/letsencrypt/live/{{ fqdn }}/cert.pem
tlskeypath=/etc/letsencrypt/live/{{ fqdn }}/privkey.pem

# add external IPs
{% for externalIP in externalIP_list %}
externalip={{ externalIP }}
{% endfor %}
port={{ zen_node_port }}
