[Unit]
Description=Zen Certbot certificate updater
[Service]
Type=oneshot
ExecStart=/usr/bin/certbot -q renew --deploy-hook 'systemctl restart zen-node && systemctl restart zen-secnodetracker && docker rmi $(docker images --quiet --filter "dangling=true")'
PrivateTmp=true" | tee /lib/systemd/system/zenupdate.service
