[Unit]
Description=Run zenupdate unit daily @ 06:00:00 (UTC)
Requires=zenupdate.service
[Timer]
OnCalendar=*-*-* 06:00:00
Unit=zenupdate.service
Persistent=true
[Install]
WantedBy=multi-user.target
WantedBy=timers.target
