{% for host in groups['zen-nodes'] %}

{{ host }}:

Shield Address: {{ hostvars[host]['zenshield']}}

Current Block: {{ hostvars[host]['zenblock']}}

Balance: {{ hostvars[host]['zenbalance']}}

{%endfor%}
